<h1> Song Form </h1>

<%= form_for(@song) do |f| %>
    <label> Song Name: </label><br>
    <%= f.text_field :name %>
    <label> Genre ID: </label><br>
    <%= f.number_field :genre_id %>
    <label> Artist ID: </label><br>
    <%= f.number_field :artist_id %>
    <%= f.submit %>
<% end %>